---
// @ts-ignore
import Link from "./ui/link.astro";
import { Picture } from "astro:assets";

import { getLangFromUrl,useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const portfolios = [
  {
    title: "Serenity",
    price: "proj.totals",
    future: "proj.sr.future",
    invested: "proj.sr.invested",
    profit: "proj.sr.profit",
    compouding: "proj.compouding",
    rows: [
      { year: 1, initialCapital: "$20,000.00", profit: "$2,196.00", futureValue: "$22,196.00" },
      { year: 2, initialCapital: "$22,196.00", profit: "$2,437.12", futureValue: "$24,633.12" },
      { year: "", initialCapital: "", profit: "", futureValue: "(10.98%)" }
    ]
  },
  {
    title: "Classic",
    price: "proj.totals",
    future: "proj.cl.future",
    invested: "proj.cl.invested",
    profit: "proj.cl.profit",
    compouding: "proj.compouding",
    rows: [
      { year: 1, initialCapital: "$30,000.00", profit: "$5,280.00", futureValue: "$35,280.00" },
      { year: 2, initialCapital: "$35,280.00", profit: "$6,209.28", futureValue: "$41,489.28" },
      { year: 3, initialCapital: "$41,489.28", profit: "$7,302.11", futureValue: "$48,791.39" },
      { year: "", initialCapital: "", profit: "", futureValue: "(17.6%)" }
    ]
  },
  {
    title: "Grow",
    price: "proj.totals",
    future: "proj.gr.future",
    invested: "proj.gr.invested",
    profit: "proj.gr.profit",
    compouding: "proj.compouding",
    rows: [
      { year: 1, initialCapital: "$50,000.00", profit: "$17,500.00", futureValue: "$67,500.00" },
      { year: 2, initialCapital: "$67,500.00", profit: "$23,625.00", futureValue: "$91,125.00" },
      { year: 3, initialCapital: "$91,125.00", profit: "$31,893.75", futureValue: "$123,018.75" },
      { year: 4, initialCapital: "$123,018.75", profit: "$43,056.56", futureValue:"$166,075.31" },
      { year: "", initialCapital: "", profit: "", futureValue: "(35%)" }
    ]
  },

];
---

<div id="portfolios-anchor" style="position: relative; top: -100px; visibility: hidden;"></div>
<div class="relative flex flex-col">
  <div id="portfolios" class="mt-[10%] flex justify-center items-center flex-col">
    <h2 class="text-center text-4xl lg:text-5xl font-medium text-[#0E1B4D] lg:tracking-tight">
      {t('proj.title')}
    </h2>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 xl:gap-16 mt-20">
    {portfolios.map((item, index) => (
      <div class={`flex flex-col gap-4 p-8 max-w-xl w-full mx-auto rounded-3xl text-white text-center ${index % 2 === 0 ? 'bg-[#0d2ca6]' : 'bg-[#222222]'}`}>
        <h3 class="text-5xl">{item.title}</h3>
        <p class="text-3xl">{t(item.price as 'port.price1')}</p>
        
        <div class="flex justify-center space-x-[70px]">
          <p class="whitespace-pre-line">{t(item.future as 'port.price1')}</p>
          <p class="whitespace-pre-line">{t(item.invested as 'port.price1')}</p>
        </div>

        <div class="text-xl">
          <p class="whitespace-pre-line">{t(item.profit as 'port.price1')}</p>
        </div>

        <p class="text-xl">{t('proj.compouding' as 'port.price1')}</p>
        
        <div class="text-center text-[12px] mx-auto mt-4">
          <div class="grid grid-cols-4 gap-4">
            <p>{t('proj.years')}</p>
            <p>{t('proj.init')}</p>
            <p>{t('proj.profit')}</p>
            <p>{t('proj.future')}</p>
            
            {item.rows.map((row) => (
              <>
                <p>{row.year}</p>
                <p>{row.initialCapital}</p>
                <p>{row.profit}</p>
                <p>{row.futureValue}</p>
              </>
            ))}
          </div>
        </div>
      </div>
    ))}
  </div>

  <div class="mt-20 w-full flex justify-center text-[#0E1B4D]">
    <Link
      class="flex justify-center text-3xl items-center border border-[#0E1B4D] text-[#0E1B4D] rounded-xl hover:bg-[#0E1B4D] hover:text-white w-auto"
      href="https://qq-capital-fund---dashboard.web.app/multi-portfolio-calculator"
      target="_blank"
      rel="noopener noreferrer"
    > {t('proj.subtitle')}
    </Link>
  </div>
</div>



